#page_info{
  display: flex;
  flex-direction:row ;
  width: 40%;
  position: fixed;
 
}
#page_info1{
    
    margin-left: 2%;
}

.label_page_info{
    text-decoration: solid;
    font-size: 130%;
    color: black;
    text-transform:capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.info_change{
    text-transform: capitalize;
}