#profile_admin{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}
#post_admin{
    width: 60%;
    margin-left: 40%;
 
}

#post_admin_{
    margin-left: 20%;
    margin-right: 20%;
}


@media (max-width: 600px){
   #profile_admin{
     flex-direction: column
   }
   #post_admin{
    width: 100%;
   margin-left: 0%;
   
   }
   #post_admin_{
    margin-left: 0%;
    margin-right: 0%;
}
}